extends layout
block content
	.container
		h3= title
		.delete_admin
			form( method="post", action="")
				span Are you sure to delete this admin: 
				b #{admin.email}
				.control-buttons
					input(type="submit", value="Delete", class = "btn btn-danger") 
					a.btn(href="/admin") Cancel