extends layout

block content
    h1= title
    #admins
      - each admin in admins
        div(class="admin")
          div(class="id") 
             a(href="admin/view/" + admin._id.toHexString()) #{admin._id}
          div(class="email") #{admin.email}
          div(class="password") #{admin.password}