extends layout
block content
    h1= title
    div(class="createadmin")
        form( method="post", action="")
             span Email :
             input( type="text", name="txt_email", value="#{admin.email}", disabled="disabled")
             span Password :
             input(type="password", name="txt_password", value="#{admin.password}")
             input(type="submit", value="Update")