extends layout

block content
    h1= title
    #admins
      - each admin in admins
        .admin
          .id
             a(href="admin/view/" + admin._id.toHexString()) #{admin._id}
          .email #{admin.email}
          .password #{admin.password}