extends layout
block content
	.container
		h3= title
		.edit_category
				form( method = "post", action = "" )
					.control-group
						label( class = "control-label" ) Name
						.controls
							input( type="text", name="txt_name", value="#{category.name}")
					.control-group
						label(class = "control-label" ) 
						.controls
							input(type="submit", value="Update", class="btn")