extends layout

block content
    .container
      .row.centered
        canvas#c1(width='170', height='170', class="CoolClock:fancy")
        h2.bigText Giờ mở cửa
        form
          .input-append
            input.input-xxlarge(type='text', placeholder='Thời gian mở cửa của ...', x-webkit-speech='x-webkit-speech', speech='speech')
            button.btn.btn-success(type='button')
              i.icon-search
    script(src='/javascripts/bootstrap.js')
