extends layout
block content
    .container
      .row.centered
        form
          .input-append
            input.input-xxlarge(type='text', placeholder='Thời gian mở cửa của ...', x-webkit-speech='x-webkit-speech', speech='speech')
            button.btn.btn-success(type='button')
              i.icon-search
    //
       /container 
    //
       Create new record 
    .container
        .row
            .span5.offset1
              h3 Tên dịch vụ 
              table.table-condensed(data-type='normal')
                tbody
                  tr
                    td
                      h4 Địa chỉ
                    td
                      span 45 NLB, Hà Nội
                  tr
                    td 
                      span Số điện thoại
                    td
                      span 039923894
                  tr
                    td
                      span Fax
                    td
                      span 9087987
                  tr
                    td 
                      span Loại dịch vụ
                    td
                      span Nhà hàng, ăn uống
                  tr
                    td
                      span Đánh giá
                    td
                      i.icon-star
                      i.icon-star
                      i.icon-star
                      i.icon-star
                      i.icon-star-half-empty 
                      a(href="#") (41) 
            .span2
                  h3 Giờ mở cửa
                  table.table-condensed
                    tbody
                      tr(style="border:thin dotted black")
                        td 
                          b Thứ 2
                        td 
                          b 6:00 - 18:00
                      tr
                        td Thứ 3
                        td 6:00 - 18:00
                      tr
                        td Thứ 4
                        td 6:00 - 18:00
                      tr
                        td Thứ 5
                        td 6:00 - 18:00
                      tr
                        td Thứ 6
                        td 6:00 - 18:00
                      tr
                        td Thứ 5
                        td 6:00 - 18:00
                      tr
                        td Chủ nhật
                        td 6:00 - 18:00
            .span1
                  .h-accuracy(style="margin-top:70px")
                    a.btn.btn-success(href="#")
                       i.icon-thumbs-up Đúng
                    span(style="padding-left:35%") (30)
                    a.btn.btn-danger(href="#")
                       i.icon-thumbs-down &nbsp;&nbsp;&nbsp;  Sai
                    span(style="padding-left:35%") (0)
    .container
        .row
            .span6.offset1(style="margin-top:70px")
                .h-reviews
                  p Nhận xét của Chuối@
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  loremfacebook ..... facebook 



script(src='/javascripts/bootstrap.js')
